/*imported font*/

body { font-family: 'Courier New', Courier, monospace;}

/*COLORS*/
:root {
    --headings: green;
    --text: black;
    --primarC: orange;
}

/*HEADINGS*/
h1, h2, h3, h4, h5, h6 { font-weight: 600;}

h1 { font-size: 36px;}
h2 { font-size: 32px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 18px;}

/*TEXT*/
p {
    font-weight: 400;
    font-size: 16px;
    color: var(--text);
    margin: ;
    line-height: 1em;
}
b { font-weight: 500;}
a {}
/*i {}*/
small { font-size: 14px;}
mark { background-color: var(); padding: 0.2em; }


/*LIST*/
ul, ol {
    padding: 0;
    margin: 0;
}
li {
    padding: 0.5em 0;
}


/*BUTTONS*/
.button {
    display: inline-block;
    border: 2px solid var(--primarC);
    border-radius: 2em;
    padding: 0.5em 1em;
    font-size: 16px; /**/
    font-weight: 500;
}
.button:hover {}
.button--var2 {
    background-color: var(--primarC);
}


/*TABLES*/
table {
    width: 100%;
    border-collapse: collapse;
}
table thead, caption {
    background-color: var(--primarC);
    color: white;
    text-align: center;
}
th, td {
    border: 2px solid var();
    padding: 1em;
    text-align: left;
}


