
/*default font and text*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap'); /*imported font*/
html { 
    font-family: 'Roboto', Courier, monospace; 
    color: var(--text); 
    font-size: 16px;
    font-weight: 400;
}

/*COLORS*/
:root {
    --text: #414141;
    --primarC: #22643b;
    --btn: #138A36;
    --btnHover: #2caa41;
    --btnBg: white;
    --mark: #79b38f;
    --imgDescr: #C5C5C5;
}

/*HEADINGS*/
h1, h2, h3, h4, h5, h6 { font-weight: 600; color: var(--primarC);}

h1 { font-size: 2em; margin: 0.6em 0;}
h2 { font-size: 1.7em; margin: 0.4em 0;}
h3 { font-size: 1.5em; margin: 0.4em 0;}
h4 { font-size: 1.4em; margin: 0.3em 0;}
h5 { font-size: 1.2em; margin: 0.3em 0;}
h6 { font-size: 1.1em; margin: 0.3em 0;}

/*TEXT*/
p {
    color: var(--text);
    margin: 0.7em 0;
    line-height: 1.4em;
}
b { font-weight: 600;}
a { color: var(--btn);}
/*i {}*/
small { font-size: 14px;}
mark { background-color: var(--mark); padding: 0.2em;}

/*LIST*/
ul, ol {
    padding: 0;
    margin: 0;
}
li {
    padding: 0;
    margin-left: 1.8em;
    line-height: 1.2em;
}
ul li { 
    list-style-type: none; 
    margin-left: 1.1em;
}
section ul li::before {
    content: "•";
    color: var(--primarC); 
    margin-right: 5px; 
    font-size: 35px;
    vertical-align: middle;
}


/*BUTTONS*/
.button {
    display: inline-block;
    border: 3px solid var(--btn);
    border-radius: 2em;
    padding: 0.5em 1em;
    font-size: 16px; /**/
    font-weight: 500;
    text-decoration: none;
    color: var(--btn);
    background-color: var(--btnBg);
}
.button:hover {
    background-color: var(--btn); 
    color: var(--btnBg);}
.button--2 {
    background-color: var(--btn);
    color: var(--btnBg);
}
.button--2:hover {
    background-color: var(--btnHover); 
    border: 3px solid var(--btnHover);
}

/*FLEX-GALLERY*/
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin: 2em 0;
}
.gallery__item {
    position: relative;
    max-width: 500px;
    overflow: hidden;
}
figure{margin: 0;}
.gallery__description {                                               
    display: block;
    position: absolute;
    bottom: 0;
    padding: 1em;
    color: var(--imgDescr);
}
.gallery__img:hover {
    transform: scale(1.1);
    transition: 1s;
}
.gallery__img {transition: 0.5s;}

/*img*/
img {width: 100%; display: block;}
